<nav-bar title="Centro de comunicacion"></nav-bar>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button routerLink="/principal">
                <ion-icon name="chatbox"></ion-icon>
                <ion-label>Chats</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="speakers">
                <ion-icon name="layers"></ion-icon>
                <ion-label>Solicitudes</ion-label>
            </ion-tab-button>

            <ion-tab-button routerLink="/perfil">
                <ion-icon name="person"></ion-icon>
                <ion-label>Perfil</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <ion-grid class="imagen-perfil">
        <ion-row>
            <ion-col>
                <ion-label>Mi perfil</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-avatar>
                    <img src="https://storage.googleapis.com/lanacion-media-storage/2021/09/1b251a9d-marcianeke.-.jpeg">
                </ion-avatar>
            </ion-col>
        </ion-row>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <ion-label>Nombre</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <ion-label>Nombre de usuario</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row> 
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <ion-label>Correo</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <ion-label>Carrera</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <ion-label>Sede</ion-label>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-grid class="imagen">
                <ion-col>
                    <ion-row>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1280px-Logo_DuocUC.svg.png" />
                    </ion-row>
                </ion-col>
            </ion-grid> 
        </ion-grid>

    </ion-grid>
</ion-content>