<ion-header [translucent]="true">
    <ion-toolbar>
      <div class="contenido-navbar">
        <ion-button href="principal">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title>Configuracion</ion-title>
        <ion-button color="light">
          <ion-icon name="search"></ion-icon>
        </ion-button>
        <ion-button color="light" href="opciones">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-grid class="opciones">
        <ion-card class="card">
            <ion-row>
                <ion-col>
                    <ion-button>
                        Seguridad inicio de sesion
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>
                        Reportar un problema
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button>
                        Politicas y privacidad
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
            </ion-row>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-button href="" color="warning">
                            Cerrar Sesion
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-grid>
    <ion-grid>
        <div class="avatar-login mt-2 mb-2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1280px-Logo_DuocUC.svg.png" />
        </div>
    </ion-grid>
</ion-content>