<ion-content fullscreen="true">
    <div class="row">
        <div class="col-md-6">
            <ion-card class="card">
                <ion-grid>
                    <div class="avatar-login mt-2 mb-2">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1280px-Logo_DuocUC.svg.png"/>
                    </div>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-input placeholder="Nombres">asdasd</ion-input>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-card>
                                <ion-input type="password" placeholder="Nombres"></ion-input>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <br>
                <div class="mt-2 boton-login">
                    <ion-button href="/principal" color="warning" expand="block">Iniciar sesion</ion-button>
                </div>
                <ion-row>
                    <ion-router-link id="texto-crear-cuenta" href="registro">Registro</ion-router-link>
                </ion-row>
            </ion-card>
        </div>
    </div>
</ion-content>