<ion-content fullscreen="true">
    <div class="row">
        <div class="col-md-6">
            <ion-card class="card">
                <ion-grid>
                    <div class="avatar-login mt-2 mb-2">
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1280px-Logo_DuocUC.svg.png" />
                    </div>
                </ion-grid>

                <form [formGroup]="loginForm" (ngSubmit)="ingreso()">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-input formControlName="nombreUsuario" placeholder="Nombre de usuario"></ion-input>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-card>
                                    <ion-input formControlName="contrasena" placeholder="contraseña" type="password"></ion-input>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <div class="mt-2 boton-login">
                        <ion-button type="submit" color="warning" expand="block">Iniciar sesion</ion-button>
                    </div>
                </form>

                <br>
                <ion-row>
                    <ion-col>
                        <ion-router-link id="texto-crear-cuenta" href="registro">Registro</ion-router-link>
                    </ion-col>
                </ion-row>
            </ion-card>
        </div>
    </div>
</ion-content>