<nav-bar title="Centro de comunicacion"></nav-bar>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button href="principal">
                <ion-icon name="chatbox"></ion-icon>
                <ion-label>Chats</ion-label>
            </ion-tab-button>

            <ion-tab-button href="solicitudes">
                <ion-icon name="layers"></ion-icon>
                <ion-label>Solicitudes</ion-label>
            </ion-tab-button>

            <ion-tab-button href="perfil">
                <ion-icon name="person"></ion-icon>
                <ion-label>Perfil</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        Recientes
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item href="chat">
                                <ion-avatar>
                                    <img src="https://storage.googleapis.com/lanacion-media-storage/2021/09/1b251a9d-marcianeke.-.jpeg" alt="">
                                </ion-avatar>
                                <ion-label>Nombre de usuario</ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        Activos
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item>
                                <ion-avatar>
                                    <img src="https://storage.googleapis.com/lanacion-media-storage/2021/09/1b251a9d-marcianeke.-.jpeg" alt="">
                                </ion-avatar>
                                <ion-label>Nombre de usuario</ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>